<% provide(:title,"About")%>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title)%> | Ruby on Rails Tutorial Sample App</title>
</head>
<body>
<h1>about</h1>
<p>My name is Rahul. I'm studying in class 2<br>
  <a href="http://rubyonrails.org/">Ruby on Rails</a>This is   my favorite part</p>
</body>
</html>