<% provide(:title, "Contact") %>
<H1> This is the contact Page</H1>
<p> You can contact me at <a href="http://journeyoflove.in/contactus"> Journey of Love contact page </a><br>
  Learn more to be there or be square</p>