<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact <a href="http://shingo.institute">Shingo Institute</a> about this 5S application.
  You can alternatively send us a message
  <a href="mailto:rahul.maddy@gmail.com"> on our email ID</a>
  or give us a ring at +91-89714-07799 or +91-80-41638666.
</p>