<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help on our produts by calling us on +91-90084-58533 or +91-80-41638666
  <a href="http://shingo.institute">Shingo Institute</a>.
  To get help on this Application
  <a href="mailto:rahul.maddy@gmail.com?Subject=Information%20on%20the%20app"><em>Contact Rahul</em>
    at +91-89714-07799</a>.
</p>